<div class="container">
  <br />
  <br />
  <div class="well">
    <div class=row>
      <div class="col-md-8">
        <%= simple_form_for @user do |f| %>
          <%= f.input :avatar, as: :file %>
          <br />
          <%= f.button :submit, 'Upload Photo' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
