<div class="container">
  <br />
  Hello <%= @user.email %>
  <br />
  <br />
  <%= link_to "Upload Image", edit_user_path(@user) %>
  <br />
  <br />
  <%= image_tag @user.avatar.url(:medium) %>
  <br />
  <br />
  <%= link_to "Connect to Buffer", root_path %>

</div>
