<div class="container">
  <div class="text-center">
    <br />
    <h3>Thanks for Sharing!</h3>
    <br />
    <%= image_tag current_user.avatar.url(:medium) %>
    <br />
    <br />
  </div>
    <div class="well">
      <h3>Social Media Report Card</h3>
      <br />
      <div class=row >
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Facebook</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Likes: 38</li>
                <li>Comments: 2</li>
                <li>Shares: 2</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Twitter</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Favorites: 62</li>
                <li>Re-Tweets: 5</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Instagram</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Likes: 15</li>
                <li>Re-Post: 5</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
